@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>DI with Singleton</h4>
    <div>Instance 1 @TempData["Singleton1"]</div>
    <div>Instance 2 @TempData["Singleton1"]</div>

</div>
